<h1>Message Board</h1>
<% @messages.each do |message| %>
    Name:
    <%= message.name %>
    
    Message:
    <%= message.body %>
    
    <br>
<% end %>

<%= form_for(@message) do |f| %>
    Name:
    <%= f.text_field :name %>
    
    Message:
    <%= f.text_field :body %>
    
    <%= f.submit %>
<% end %>
